services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: unless-stopped
    environment:
      PORT: 5000
      MONGO_URI: mongodb://65.0.103.72:27017/register_db
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./react_app
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
